@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}

body{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background: linear-gradient(45deg, #03001E, #7303C0, #EC38BC);
    padding: 10px;
  }

.todo-app{
    width: 700px;
    background-color: #000;
    text-align: center;
    margin: 6rem auto;
    padding-bottom: 32px;
    border-radius: 2rem;
}

h1{
    color: white;
    font-size: 40px;
    margin: 32px 0;
    padding-top: 22px;
    text-transform: capitalize;
}

.complete {
    text-decoration: line-through;
    opacity: 0.5 !important;
}

.todo-form{
    margin-bottom: 32px;
}

.todo-input{
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #7303C0;
    background-color: transparent;
    outline: none;
    width: 500px;
    color: white;
}

.todo-input::placeholder{
    font-size: 1rem;
    color: rgba(128, 128, 128, 0.473);
}

.todo-button{
    padding: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: linear-gradient(45deg, #03001E, #7303C0, #EC38BC);
    color: white;
    text-transform: capitalize;
    transition: all ease-in-out 0.3s;
}

.todo-input.edit{
    border: 2px solid #EC38BC;
}

.todo-button.edit{
    background-color: linear-gradient(45deg, #03001E, #7303C0, #EC38BC);
    color: white;
    padding: 16px 22px;
}

.todo-container{
    display: flex;
    flex-direction: row;
    position: relative;
}

.todo-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4px auto;
    text-transform: capitalize;
    font-size: 1.3rem;
    color: white;
    background: linear-gradient(90deg,#7303C0, #ca2cf5);
    padding: 16px;
    width: 90%;
    border-radius: 5px;
    cursor: pointer;
}

.icons{
    display: flex;
    align-items: center;
    width: 50px;
    justify-content: space-between;
    font-size: 16px;
}

.btn-fa{
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.btn-fa:hover{
    font-size: 20px;
    transition: all ease-in-out 0.3s;
}